
#dashboard-container{
/*    border: 1px solid black;*/
    height: 550px;
    width: 70%;
    margin: 0 auto;
      border-radius: 10px;
}
#dashboard-header{
/*    border: 1px solid black;*/
    height: 10%;
    padding: 20px;
    background: #eaf4f2;
    border-radius: 10px;
    margin-bottom: 10px;
}
#dashboard-content{
/*    border: 0px solid black;*/
    min-height: 80%;
    background: #ebf0f5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

#monday, #title {
    float: left;
}

#logo{
    float: right;
}

#title{
    width: 75%;
    padding: 0 20px;
}

#monday{
    height: 35px;
    width: 50px;
    padding-top: 7px;
}
#weather{
    height: 40px;
    width: 40px;
    float: right;
    padding-top: 5px;
}
#city-searchbox{
  width: 70%;
    height: 50px;  
  background: #57bd84;
  border-radius: 10px;
    margin: 0 auto;
}

input, button {
   margin-top: 10px;
  height: 30px;
      border-radius: 10px;
  font-family: 'Lato', sans-serif;
  border: 1.4px solid #fff;
  color: #2f2f2f;
  font-size: 1rem;
    margin-left: 10px;
}

input{
    width: 80%;
}

input:focus, button:focus{
    outline: none;

}
#error p{
    color: red;
}
body{
    font-family:'Contrail One';
}

.details-box{
    float:left;
    width:30%;
    margin: 10px 10px;
}

#weather-img{
    width: 70%;
    display: block;
    margin: 20px auto;
}

.details-box {
    font-size:25px;
    margin-top: 60px;
}
#celsius-temp{
    font-size: 60px !important;
    margin: 0px;
}

#details{
    padding: 10px;
}

#error{
    text-align: center;
    padding: 20px;
}
#error-img{
    width: 20px;
}

#celsius-temp{
    color: #FF3D57;
}
#thingsToDo{
    /*    border: 0px solid black;*/
    min-height: 100px;
    background: #ebf0f5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}


#thingsToDoList li{
    list-style: none;
}




